<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome Page</title>
    </head>
    <body>
        <p>Hello <%= userName %></p>
        <p>What you'll do here?</p>
        <div>
            <button>Eat launch</button>
            <button>Schedule something</button>
            <button>Watch video</button>
        </div>
    </body>
</html>